<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recharger</title>
    <link rel="stylesheet" href="/src/css/dashboard.css">
</head>
<body>
    <div class="sidebar">
      <div class="sidebar-logo">
        <img src="/assets/e-Wallet6.gif" alt="Logo E-Wallet">
        <h2>E-Wallet</h2>
      </div>
      <ul class="sidebar-menu">
        <li><a href="/src/view/dashboard.html">Tableau de bord</a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Envoyer</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="/src/view/index.html">Se déconnecter</a></li>
      </ul>
    </div>
    <header class="topbar">
      <h1 id="welcome_message"> </h1>
      <span id="date" class="topbar-date"> </span>
    </header>
    <h2>Recharger le compte</h2>
<div class="main-content">
    <form id="rechargerForm">
        <label for="amount">Montant:</label>
        <input type="number" id="amount" name="amount" required><br><br>
         <p id="result"></p>
        <button type="button" id="rechBtn">Recharger</button>

        <button type="button" id="ViewBalanceBtn">Voir le solde</button>
    </form>
</div>
<script type="module" src="/src/Controller/Recharger.js"></script>

    
</body>
</html>